<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 -->


<div class="p-3 mb-2 bg-info text-center"><h1>About Me</h1>
</div>


<br>


<br>



<br>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h4>My Name is Sindhu Binil.</h4> 
<h4>I was born and brought up in India.</h4> 
<h4>Currently living in Kingston, Ontario.</h4> 
<h4>I love travelling, crocheting, cooking, yoga and gardening.</h4>
<img src="Assets/images/Profile2.jpg" alt="personal picture" style="float:right" id="Profile2">
<h5>I dream to become a great web developer and gave back to the society.</h5>
<a href="Assets/images/SindhuResume-1.pdf">Click to view my Resume</a>
<br>
</div>

 
  
