<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 17-10-2021-->


<div class="p-3 mb-2 bg-info text-center"><h1>About Me</h1>
</div>


<br>

<div class="container">
    <div class="col">
        <img src="Assets/images/profile2.jpg" alt="profile2" style="float:right" class="img-thumbnail">
    </div>
</div>

<br>
<div class="container">
    <div style="width:980px; margin-left:auto; margin-right:auto;">
        <h4>My Name is Sindhu Binil.</h4> 
        <h4>I'm an Indian who currently living in Kingston, Ontario.</h4> 
        <h4>I'm a 3rd semester Software Engineering Tech. student at Centennial college, Scarborough, Ontario.</h4> 
        <h4>I love travelling, crocheting, cooking, yoga and gardening.</h4>
        <h5>My ultimate dream is to become a great web developer and gave back to the society.</h5>
        <a href="Assets/images/sindhuresume-1.pdf">Click to view my Resume</a>
    </div>
</div>


<div class="col">
 <img src="Assets/images/profile2.jpg" alt="profile2" style="float:right" class="img-thumbnail">
</div>
<br>



<br>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<h4>My Name is Sindhu Binil.</h4> 
<h4>I'm an Indian who currently living in Kingston, Ontario.</h4> 
<h4>I'm a 3rd semester Software Engineering Tech. student at Centennial college, Scarborough, Ontario.</h4> 
<h4>I love travelling, crocheting, cooking, yoga and gardening.</h4>
<h5>My ultimate dream is to become a great web developer and gave back to the society.</h5>
<a href="Assets/images/sindhuresume-1.pdf">Click to view my Resume</a>
</div>



 
  
