 <!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 17-10-2021--> 
 <div class="p-3 mb-2 bg-info text-center"><h1>Welcome to my Website</h1></div>
  
   <h1 class="display-5">Mission Statement</h1>
<p class="lead">
  My goal is to switch to a career in web development to raise my income and get a job that I enjoy. I will become a backend web developer by taking classes at my local community college and building websites for more experience.
</p>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="box">
        <img src="Assets/images/Profile2.jpg" alt="My picture" class="box-img">
        <h1 id="myname"> I am Sindhu Binil</h1>
        <p id="biographytext"> I am a 3rd semester student of Software Engineering in Centennial College.
        Click below to know more about me</p>
        <a href="/about" class="btn btn-dark btn-lg">Click Here</a>

        <br>

        <div>
        <p id="biographytext"> You can also view my Projects and Services</p>
        <a href="/projects" class="btn btn-dark btn-lg">My Projects</a> <a href="/services" class="btn btn-dark btn-lg">My Services</a>
        </div>
        </div>
      </div>
      <div class="col">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="login" name="Login" class="btn btn-info btn-md" value="login">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

        