  
  
  
  
  <br>
   <br>
    <br>
     <br>
      <br>
       <br>
        <br>
         <br>
          <br> 
           <br>
            <br>
             <br>
              <br>
  
  
  <div class="p-3 mb-2 bg-info text-center"><h1>Welcome to my Website</h1></div>
  
  
 <h1 class="display-5">Mission Statement</h1>
<p class="lead">
  My goal is to switch to a career in web development to raise my income and get a job that I enjoy. I will become a backend web developer by taking classes at my local community college and building websites for more experience.
</p>