 <!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 17-10-2021-->
 
  <div class="p-3 mb-2 bg-info text-center"><h1>Welcome to My Projects page</h1>
  </div>

<br>
<br>


<div class="container">
  <div class="row">
    <div class="col">
    <h3>Project1 - Created website for Real Estate Firm</h3>
      </div>
    <div class="col">
      <img src="Assets/images/project1.png" alt="project1" class="img-thumbnail">
    </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <h3>Project2 - Worked on DOM in Semester 2</h3>
    </div>
    <div class="col">
      <img src="Assets/images/project2.png" alt="project1" class="img-thumbnail">
    </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Project3 - Created webpage for college in Semester One</h3>
    </div>
    <div class="col">
      <img src="Assets/images/project3.png" alt="project1" class="img-thumbnail">
    </div>
    </div>
</div>