  <div class="container">
   <h1>Welcome to My Projects page</h1>
  </div>

<br>

<div class="container">
  Project1 - Created website for Real Estate Firm
  <img src="Assets/images/project1.png" alt="project1" class="img-thumbnail">
</div>
