  <div class="container">
   <h1>Welcome to My Projects page</h1>
  </div>

<br>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Projects Completed</a>

  
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Created website for a Real Estate Business in Semester One</a>
  <img src="Assets/images/project1.png" alt="Project1" style="float:right" id="Project1">
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Working on DOM in Semester Two</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">College Webpage for Centennial College in Semester One</a>
  </div>
