    <!-- Bottom Nav -->
  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Sindhu Binil-COMP229-F2021 Copyright 2021</h4>
    </div>
  </nav>


    <!-- JavaScript Section -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script src="./Scripts/app.js"></script>
</body>
</html>
