<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 -->

<% import partials/header.ejs %>

<% import partials/main_nav.ejs %>
    


    <!-- Content Section -->
    <div class="container">
        <h1>Welcome to the <strong><%= title %></strong> page</h1>
    </div>
 

    



<% import partials/bottom_nav.ejs %>
    
  
<% import partials/footer.ejs %>

