<!--COMP229 - S2021 - Sindhu Binil, ID# 301150331 17-10-2021-->

<!-- Bottom Nav -->
    <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <h4>&copy; Sindhu Binil-COMP229-F2021 Copyright 2021</h4>
    </div>
  </nav>
    </footer>